@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    box-sizing: border-box;
}

header{
    height: 8vh;
    width: 100vw;
    background-color: #FEFEFE;
    box-shadow: 0px 2px 6px black;
    align-content: center;
    position: sticky;
    top: 0;
}

.navigation{
    display: flex;
    gap: 40px;
}

.nav{
    display: flex;
    gap: 40px;
}

.logo{
    display: flex;
    gap: 10px;
}

.login{
    position: relative;
    left: 900px;
}

.main{
    display: grid;
    grid-template-columns: 45vw 45vw;
    grid-template-rows: 50vh;
    justify-items: center;
}

.mainText{
    padding-left: 100px;
    padding-top: 100px;
}

.mainText h1{
    font-size: 50px;
    font-family: Manrope;
    font-weight: 900;
    line-height: 1.1; 
}

.mainText p{
    font-family: Manrope;
    opacity: 0.7;
}

.mainText button{
    padding: 5px 10px;
    border-radius: 20px;
    height: 35px;
    width: 120px;
    margin-top: 20px;

}

.btn1{
    background-color: #0050A6;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.btn2{
    border-color: #0050A6;
    color: #0050A6;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
}


.image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.image img{
    height: 300px;
    width: 500px;
    border-radius: 10px;
    margin-left: 300px;
}

.boxes{
    display: grid;
    grid-template-columns: 25vw 25vw 25vw;
    grid-template-rows: 26vh 26vh;
    justify-content: center;
    align-content: center;
    gap: 30px;
    height: 70vh;
}

.box{
    border: 1px solid #989997;
    border-radius: 8px;
    align-content: center;
    justify-items: center;
}

.features{
    display: grid;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
    padding-bottom: 20px;
    font-size: 40px;
}

.icon{
    height: 50px;
    width: 50px;
    background-color:#E5F2FF;
    border-radius: 30px;
    text-align: center;
    align-content: center;
    margin-bottom: 20px;
}

.icon i{
    color: #007BFF;
    font-size: 20px;
}

.heading{
    margin-bottom: 15px;
}

.textitem{
    padding: 0px 15px;
    text-align: center;
    color: #989997;
}

.wheading{
    text-align: center;
    font-size: 40px;
}

.work{
    display: grid;
    grid-template-columns: 20vw 5vw 20vw 5vw 20vw;
    grid-template-rows: 50vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 30px;
}

.first{
    display: grid;
    gap: 20px;
    justify-items: center;

}

.num{
    border: 2px solid black;
    height: 55px;
    width: 35px;
    color: white;
    border-radius: 25px;
    text-align: center;
    background-color: #007BFF;
    border: none;
    align-content: center;
    font-size: 20px;
    font-weight: bold;
}

.first i{
    font-size: 40px;
    color: #007BFF;
}

.first p{
    color: #939392;
    text-align: center;
}

.arrow1{
    font-size: 40px;
    color: #939392;
}

.container{
    display: grid;
    grid-template-columns: 26vw 26vw 26vw;
    grid-template-rows: 35vh;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.review{
    border: 4px solid #1486FF;
    height: 100px;
    border-radius: 12px;
    font-style: italic;
    padding: 40px;
    color: #9E9F9E;
}

.rheading{
    text-align: center;
}

.review .pers{
    color: black;
    padding-top: 20px;
}

.add{
    display: grid;
    grid-template-columns: 75vw;
    grid-template-rows: 35vh;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.content{
    border: 2px solid black;
    text-align: center;
    height: 27vh;
    background-color: #007BFF;
    border: none;
    color: white;
    border-radius: 15px;
    align-content: center;
}

.content h3{
    font-size: 35px;
    padding-bottom: 10px;
}

.content button{
    border: none;
    background-color: white;
    padding: 7px 40px;
    margin-top: 20px;
    border-radius: 20px;
}

footer{
    /* border: 2px solid black; */
    height: 5vh;
    align-content: center;
    box-shadow: 0px -2px 6px black;
}

.fbox p{
    font-size: 15px;
    padding-left: 15px;
    color: #B8B9B7;
}